This is a horrible, horrible data set from the German statistics portal: https://www.statistikportal.de/de/vgrdl/ergebnisse-kreisebene/einkommen-kreise

In [1]:
import pandas as pd
df = pd.read_excel('Income districts.xlsx')

In [2]:
df.head()

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2.1 insgesamt (A-T),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,in Mill. EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zurück zum Inhaltsverzeichnis,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lfd. Nr.,EU-Code,Regional-schlüssel,Land,NUTS 1,NUTS 2,NUTS 3,Gebietseinheit,2000.0,2001.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.drop(0)
df = df.drop(1)
df = df.drop(2)
df = df.drop(4)

In [4]:
df.head()

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
3,Lfd. Nr.,EU-Code,Regional-schlüssel,Land,NUTS 1,NUTS 2,NUTS 3,Gebietseinheit,2000.000,2001.000,...,2013.000,2014.000,2015.000,2016.000,2017.000,2018.000,2019.000,2020.000,2021.000,2022.000
5,1,DE1,08,BW,1,NaN,NaN,Baden-Württemberg,133081.200,137853.238,...,183485.043,190278.983,198027.562,206170.367,215280.129,224787.472,232507.513,227043.140,235550.273,248272.526
6,2,DE11,081,BW,NaN,2,NaN,"Stuttgart, Regierungsbezirk",55311.142,57433.292,...,77038.459,79859.640,83581.266,87289.953,91398.404,95505.833,97940.138,94721.267,97672.704,103540.804
7,3,DE111,08111,BW,NaN,NaN,3,"Stuttgart, Landeshauptstadt, Stadtkreis",14752.365,15378.004,...,20348.834,21403.404,22476.724,23250.016,24363.944,25498.253,25281.757,24460.058,25063.489,26809.930
8,4,DE112,08115,BW,NaN,NaN,3,"Böblingen, Landkreis",5994.738,6381.018,...,8755.301,8783.128,9283.436,9877.457,10387.207,10531.175,10834.551,10351.757,10555.350,11250.163

In [5]:
df = df.rename(columns={"Unnamed: 2": "County ID", "Unnamed: 7": "County", "Unnamed: 30": "Income 2022"})

In [6]:
df.head()

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,County ID,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Income 2022
3,Lfd. Nr.,EU-Code,Regional-schlüssel,Land,NUTS 1,NUTS 2,NUTS 3,Gebietseinheit,2000.000,2001.000,...,2013.000,2014.000,2015.000,2016.000,2017.000,2018.000,2019.000,2020.000,2021.000,2022.000
5,1,DE1,08,BW,1,NaN,NaN,Baden-Württemberg,133081.200,137853.238,...,183485.043,190278.983,198027.562,206170.367,215280.129,224787.472,232507.513,227043.140,235550.273,248272.526
6,2,DE11,081,BW,NaN,2,NaN,"Stuttgart, Regierungsbezirk",55311.142,57433.292,...,77038.459,79859.640,83581.266,87289.953,91398.404,95505.833,97940.138,94721.267,97672.704,103540.804
7,3,DE111,08111,BW,NaN,NaN,3,"Stuttgart, Landeshauptstadt, Stadtkreis",14752.365,15378.004,...,20348.834,21403.404,22476.724,23250.016,24363.944,25498.253,25281.757,24460.058,25063.489,26809.930
8,4,DE112,08115,BW,NaN,NaN,3,"Böblingen, Landkreis",5994.738,6381.018,...,8755.301,8783.128,9283.436,9877.457,10387.207,10531.175,10834.551,10351.757,10555.350,11250.163

In [7]:
df[df['Unnamed: 3'].str.contains("SH", case=False)]

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,County ID,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Income 2022
409,405,DEF,01,SH,1,2,NaN,Schleswig-Holstein,26333.414,26819.146,...,32126.025,33065.386,34304.478,35728.795,37353.691,39443.375,41193.319,41569.274,43184.314,46013.385
410,406,DEF01,01001,SH,NaN,NaN,3,"Flensburg, Kreisfreie Stadt",1244.405,1264.382,...,1404.742,1431.392,1499.194,1535.010,1626.451,1735.134,1796.899,1786.897,1840.098,1994.779
411,407,DEF02,01002,SH,NaN,NaN,3,"Kiel, Landeshauptstadt, Kreisfreie Stadt",3683.404,3763.679,...,4482.371,4760.446,4998.337,5104.494,5326.684,5590.224,5819.225,5884.100,6103.961,6508.703
412,408,DEF03,01003,SH,NaN,NaN,3,"Lübeck, Hansestadt, Kreisfreie Stadt",2550.230,2588.040,...,3152.003,3265.690,3302.033,3563.154,3684.640,3925.205,4148.580,4223.310,4357.013,4639.005
413,409,DEF04,01004,SH,NaN,NaN,3,"Neumünster, Kreisfreie Stadt",1039.722,1047.767,...,1238.218,1259.534,1303.970,1403.858,1471.185,1546.542,1633.718,1651.474,1732.606,1841.140
414,410,DEF05,01051,SH,NaN,NaN,3,"Dithmarschen, Kreis",1217.437,1229.151,...,1289.380,1338.014,1367.489,1451.046,1507.136,1580.520,1665.499,1676.134,1724.008,1809.892
415,411,DEF06,01053,SH,NaN,NaN,3,"Herzogtum Lauenburg, Kreis",1207.437,1237.667,...,1528.866,1573.815,1625.145,1696.310,1772.500,1854.609,1939.192,1969.314,2062.887,2212.112
416,412,DEF07,01054,SH,NaN,NaN,3,"Nordfriesland, Kreis",1450.254,1469.673,...,1938.178,1963.425,2060.314,2149.118,2209.587,2307.170,2387.153,2402.721,2512.631,2710.334
417,413,DEF08,01055,SH,NaN,NaN,3,"Ostholstein, Kreis",1446.278,1453.590,...,1804.137,1866.728,1947.137,2021.266,2108.874,2227.895,2331.448,2357.423,2463.722,2653.915
418,414,DEF09,01056,SH,NaN,NaN,3,"Pinneberg, Kreis",2488.756,2574.308,...,3242.217,3233.612,3319.728,3429.616,3556.888,3803.078,3912.201,3940.868,4092.453,4204.921
419,415,DEF0A,01057,SH,NaN,NaN,3,"Plön, Kreis",703.494,712.804,...,842.100,858.240,881.840,908.997,953.436,1005.841,1061.332,1064.432,1115.890,1198.263
420,416,DEF0B,01058,SH,NaN,NaN,3,"Rendsburg-Eckernförde, Kreis",2098.320,2141.665,...,2610.041,2662.918,2754.821,2827.257,3000.010,3150.282,3298.025,3331.143,3454.219,3680.353
421,417,DEF0C,01059,SH,NaN,NaN,3,"Schleswig-Flensburg, Kreis",1422.489,1424.014,...,1631.074,1695.987,1767.368,1841.520,1916.768,2035.646,2122.089,2127.569,2241.451,2415.699
422,418,DEF0D,01060,SH,NaN,NaN,3,"Segeberg, Kreis",2358.220,2412.327,...,2911.670,3007.561,3180.092,3362.505,3518.428,3737.177,3910.198,3945.439,4047.674,4350.094
423,419,DEF0E,01061,SH,NaN,NaN,3,"Steinburg, Kreis",1159.639,1193.152,...,1273.095,1283.855,1314.069,1347.297,1412.588,1477.690,1553.782,1561.608,1622.454,1738.877
424,420,DEF0F,01062,SH,NaN,NaN,3,"Stormarn, Kreis",2263.329,2306.927,...,2777.933,2864.169,2982.941,3087.347,3288.516,3466.362,3613.978,3646.842,3813.247,4055.298

In [8]:
df.iloc[406:422]

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,County ID,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Income 2022
410,406,DEF01,01001,SH,NaN,NaN,3,"Flensburg, Kreisfreie Stadt",1244.405,1264.382,...,1404.742,1431.392,1499.194,1535.010,1626.451,1735.134,1796.899,1786.897,1840.098,1994.779
411,407,DEF02,01002,SH,NaN,NaN,3,"Kiel, Landeshauptstadt, Kreisfreie Stadt",3683.404,3763.679,...,4482.371,4760.446,4998.337,5104.494,5326.684,5590.224,5819.225,5884.100,6103.961,6508.703
412,408,DEF03,01003,SH,NaN,NaN,3,"Lübeck, Hansestadt, Kreisfreie Stadt",2550.230,2588.040,...,3152.003,3265.690,3302.033,3563.154,3684.640,3925.205,4148.580,4223.310,4357.013,4639.005
413,409,DEF04,01004,SH,NaN,NaN,3,"Neumünster, Kreisfreie Stadt",1039.722,1047.767,...,1238.218,1259.534,1303.970,1403.858,1471.185,1546.542,1633.718,1651.474,1732.606,1841.140
414,410,DEF05,01051,SH,NaN,NaN,3,"Dithmarschen, Kreis",1217.437,1229.151,...,1289.380,1338.014,1367.489,1451.046,1507.136,1580.520,1665.499,1676.134,1724.008,1809.892
415,411,DEF06,01053,SH,NaN,NaN,3,"Herzogtum Lauenburg, Kreis",1207.437,1237.667,...,1528.866,1573.815,1625.145,1696.310,1772.500,1854.609,1939.192,1969.314,2062.887,2212.112
416,412,DEF07,01054,SH,NaN,NaN,3,"Nordfriesland, Kreis",1450.254,1469.673,...,1938.178,1963.425,2060.314,2149.118,2209.587,2307.170,2387.153,2402.721,2512.631,2710.334
417,413,DEF08,01055,SH,NaN,NaN,3,"Ostholstein, Kreis",1446.278,1453.590,...,1804.137,1866.728,1947.137,2021.266,2108.874,2227.895,2331.448,2357.423,2463.722,2653.915
418,414,DEF09,01056,SH,NaN,NaN,3,"Pinneberg, Kreis",2488.756,2574.308,...,3242.217,3233.612,3319.728,3429.616,3556.888,3803.078,3912.201,3940.868,4092.453,4204.921
419,415,DEF0A,01057,SH,NaN,NaN,3,"Plön, Kreis",703.494,712.804,...,842.100,858.240,881.840,908.997,953.436,1005.841,1061.332,1064.432,1115.890,1198.263
420,416,DEF0B,01058,SH,NaN,NaN,3,"Rendsburg-Eckernförde, Kreis",2098.320,2141.665,...,2610.041,2662.918,2754.821,2827.257,3000.010,3150.282,3298.025,3331.143,3454.219,3680.353
421,417,DEF0C,01059,SH,NaN,NaN,3,"Schleswig-Flensburg, Kreis",1422.489,1424.014,...,1631.074,1695.987,1767.368,1841.520,1916.768,2035.646,2122.089,2127.569,2241.451,2415.699
422,418,DEF0D,01060,SH,NaN,NaN,3,"Segeberg, Kreis",2358.220,2412.327,...,2911.670,3007.561,3180.092,3362.505,3518.428,3737.177,3910.198,3945.439,4047.674,4350.094
423,419,DEF0E,01061,SH,NaN,NaN,3,"Steinburg, Kreis",1159.639,1193.152,...,1273.095,1283.855,1314.069,1347.297,1412.588,1477.690,1553.782,1561.608,1622.454,1738.877
424,420,DEF0F,01062,SH,NaN,NaN,3,"Stormarn, Kreis",2263.329,2306.927,...,2777.933,2864.169,2982.941,3087.347,3288.516,3466.362,3613.978,3646.842,3813.247,4055.298
425,421,DEG,16,TH,1,2,NaN,Thüringen,18893.885,18928.681,...,23564.284,24466.831,25453.597,26300.078,27468.405,28466.419,29297.101,28929.988,29833.635,31789.226

In [9]:
df = df.iloc[406:421].reset_index(drop=True)

In [10]:
df.head()

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,County ID,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Income 2022
0,406,DEF01,01001,SH,NaN,NaN,3,"Flensburg, Kreisfreie Stadt",1244.405,1264.382,...,1404.742,1431.392,1499.194,1535.010,1626.451,1735.134,1796.899,1786.897,1840.098,1994.779
1,407,DEF02,01002,SH,NaN,NaN,3,"Kiel, Landeshauptstadt, Kreisfreie Stadt",3683.404,3763.679,...,4482.371,4760.446,4998.337,5104.494,5326.684,5590.224,5819.225,5884.100,6103.961,6508.703
2,408,DEF03,01003,SH,NaN,NaN,3,"Lübeck, Hansestadt, Kreisfreie Stadt",2550.230,2588.040,...,3152.003,3265.690,3302.033,3563.154,3684.640,3925.205,4148.580,4223.310,4357.013,4639.005
3,409,DEF04,01004,SH,NaN,NaN,3,"Neumünster, Kreisfreie Stadt",1039.722,1047.767,...,1238.218,1259.534,1303.970,1403.858,1471.185,1546.542,1633.718,1651.474,1732.606,1841.140
4,410,DEF05,01051,SH,NaN,NaN,3,"Dithmarschen, Kreis",1217.437,1229.151,...,1289.380,1338.014,1367.489,1451.046,1507.136,1580.520,1665.499,1676.134,1724.008,1809.892

In [11]:
df.tail()

,2 Bruttolöhne und -gehälter (Inlandskonzept),Unnamed: 1,County ID,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Income 2022
10,416,DEF0B,01058,SH,NaN,NaN,3,"Rendsburg-Eckernförde, Kreis",2098.320,2141.665,...,2610.041,2662.918,2754.821,2827.257,3000.010,3150.282,3298.025,3331.143,3454.219,3680.353
11,417,DEF0C,01059,SH,NaN,NaN,3,"Schleswig-Flensburg, Kreis",1422.489,1424.014,...,1631.074,1695.987,1767.368,1841.520,1916.768,2035.646,2122.089,2127.569,2241.451,2415.699
12,418,DEF0D,01060,SH,NaN,NaN,3,"Segeberg, Kreis",2358.220,2412.327,...,2911.670,3007.561,3180.092,3362.505,3518.428,3737.177,3910.198,3945.439,4047.674,4350.094
13,419,DEF0E,01061,SH,NaN,NaN,3,"Steinburg, Kreis",1159.639,1193.152,...,1273.095,1283.855,1314.069,1347.297,1412.588,1477.690,1553.782,1561.608,1622.454,1738.877
14,420,DEF0F,01062,SH,NaN,NaN,3,"Stormarn, Kreis",2263.329,2306.927,...,2777.933,2864.169,2982.941,3087.347,3288.516,3466.362,3613.978,3646.842,3813.247,4055.298

In [12]:
df = df[["County ID", "County", "Income 2022"]]

In [13]:
df["Income 2022"] = df["Income 2022"] * 1_000_000

In [14]:
df.head()

  County ID                                    County   Income 2022
0     01001               Flensburg, Kreisfreie Stadt  1.994779e+09
1     01002  Kiel, Landeshauptstadt, Kreisfreie Stadt  6.508703e+09
2     01003      Lübeck, Hansestadt, Kreisfreie Stadt  4.639005e+09
3     01004              Neumünster, Kreisfreie Stadt  1.841140e+09
4     01051                       Dithmarschen, Kreis  1.809892e+09

In [15]:
df_pop = pd.read_excel('Population Counties.xlsx')

In [16]:
df_pop.head()

,3 Einwohnerinnen und Einwohner,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,in 1000 Personen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zurück zum Inhaltsverzeichnis,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lfd. Nr.,EU-Code,Regional-schlüssel,Land,NUTS 1,NUTS 2,NUTS 3,Gebietseinheit,1995,1996,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_pop = df_pop.rename(columns={"Unnamed: 7": "County", "Unnamed: 35": "Population 2022"})

In [18]:
df_pop

,3 Einwohnerinnen und Einwohner,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Population 2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,in 1000 Personen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zurück zum Inhaltsverzeichnis,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lfd. Nr.,EU-Code,Regional-schlüssel,Land,NUTS 1,NUTS 2,NUTS 3,Gebietseinheit,1995,1996,...,2013.000,2014.000,2015.000,2016.000,2017.000,2018.000,2019.000,2020.000,2021.000,2022.000
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,440,DEG0S,16054,TH,NaN,NaN,3,"Suhl, Kreisfreie Stadt",56.643,55.611,...,38.108,38.212,38.742,38.406,37.567,37.138,36.872,36.592,36.225,36.532
445,441,DEG0T,16070,TH,NaN,NaN,3,Ilm-Kreis,120.206,119.684,...,106.953,106.653,107.011,107.181,106.819,106.649,106.436,105.928,105.487,106.072
446,442,DEG0U,16073,TH,NaN,NaN,3,"Saalfeld-Rudolstadt, Landkreis",135.555,134.721,...,108.549,107.689,107.214,106.565,105.610,104.635,103.671,102.669,101.554,101.232
447,443,DEG0V,16072,TH,NaN,NaN,3,"Sonneberg, Landkreis",74.103,73.406,...,59.863,59.319,59.062,58.894,58.666,58.506,58.064,57.381,56.774,56.713
448,444,DE,17,D,0,NaN,NaN,Deutschland,81307.714,81466.407,...,80645.608,80982.505,81686.613,82348.670,82657.006,82905.787,83092.966,83160.874,83196.082,83797.990

In [19]:
df_pop.iloc[405:422]

,3 Einwohnerinnen und Einwohner,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Population 2022
405,401,DEE0B,15088,ST,NaN,NaN,3,Saalekreis,206.868,209.534,...,188.453,187.100,186.471,186.191,185.723,185.038,184.198,183.625,183.124,183.394
406,402,DEE0C,15089,ST,NaN,NaN,3,Salzlandkreis,256.93,254.809,...,199.962,197.732,196.723,195.635,193.657,191.650,189.842,188.291,186.475,185.957
407,403,DEE0D,15090,ST,NaN,NaN,3,"Stendal, Landkreis",147.645,146.368,...,116.069,115.070,114.965,114.828,113.789,112.584,111.586,110.838,110.116,110.019
408,404,DEE0E,15091,ST,NaN,NaN,3,"Wittenberg, Landkreis",165.594,164.684,...,130.069,129.080,128.584,127.948,127.132,126.327,125.397,124.569,123.763,123.615
409,405,DEF,01,SH,1,2,NaN,Schleswig-Holstein,2705.986,2721.097,...,2811.243,2823.410,2844.789,2870.320,2885.874,2893.267,2900.243,2907.324,2916.440,2937.638
410,406,DEF01,01001,SH,NaN,NaN,3,"Flensburg, Kreisfreie Stadt",85.506,84.499,...,83.717,84.333,85.318,86.687,87.975,89.011,89.834,90.049,90.523,91.832
411,407,DEF02,01002,SH,NaN,NaN,3,"Kiel, Landeshauptstadt, Kreisfreie Stadt",244.998,243.35,...,240.700,242.341,244.727,246.874,247.692,247.745,247.171,246.697,246.422,246.980
412,408,DEF03,01003,SH,NaN,NaN,3,"Lübeck, Hansestadt, Kreisfreie Stadt",216.95,216.364,...,212.336,213.689,215.337,216.483,216.515,216.758,216.864,216.188,216.061,217.186
413,409,DEF04,01004,SH,NaN,NaN,3,"Neumünster, Kreisfreie Stadt",82.155,82.079,...,77.005,77.323,78.393,79.439,79.507,79.411,79.842,80.050,79.700,79.499
414,410,DEF05,01051,SH,NaN,NaN,3,"Dithmarschen, Kreis",133,133.949,...,132.815,132.675,132.801,133.239,133.503,133.328,133.202,133.222,133.610,134.611
415,411,DEF06,01053,SH,NaN,NaN,3,"Herzogtum Lauenburg, Kreis",169.132,171.12,...,188.474,189.873,191.851,194.031,195.568,196.669,197.642,198.585,199.985,202.266
416,412,DEF07,01054,SH,NaN,NaN,3,"Nordfriesland, Kreis",157.706,159.155,...,162.080,162.063,163.082,164.443,165.194,165.484,165.729,166.549,167.353,168.302
417,413,DEF08,01055,SH,NaN,NaN,3,"Ostholstein, Kreis",195.008,195.652,...,197.859,198.095,198.965,200.194,200.698,200.582,200.560,201.013,201.750,202.810
418,414,DEF09,01056,SH,NaN,NaN,3,"Pinneberg, Kreis",279.299,280.845,...,300.021,302.653,305.779,309.062,311.657,313.526,315.247,316.594,317.705,320.228
419,415,DEF0A,01057,SH,NaN,NaN,3,"Plön, Kreis",122.968,123.934,...,126.682,126.754,127.585,128.504,128.772,128.744,128.667,129.019,129.520,130.477
420,416,DEF0B,01058,SH,NaN,NaN,3,"Rendsburg-Eckernförde, Kreis",256.676,259.301,...,268.067,268.352,269.503,271.358,272.679,272.898,273.437,274.431,275.409,277.516
421,417,DEF0C,01059,SH,NaN,NaN,3,"Schleswig-Flensburg, Kreis",186.703,188.797,...,195.023,195.364,196.216,197.762,199.094,199.764,200.591,201.901,203.223,204.919

In [20]:
df_pop.iloc[410:425]

,3 Einwohnerinnen und Einwohner,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Population 2022
410,406,DEF01,01001,SH,NaN,NaN,3,"Flensburg, Kreisfreie Stadt",85.506,84.499,...,83.717,84.333,85.318,86.687,87.975,89.011,89.834,90.049,90.523,91.832
411,407,DEF02,01002,SH,NaN,NaN,3,"Kiel, Landeshauptstadt, Kreisfreie Stadt",244.998,243.35,...,240.700,242.341,244.727,246.874,247.692,247.745,247.171,246.697,246.422,246.980
412,408,DEF03,01003,SH,NaN,NaN,3,"Lübeck, Hansestadt, Kreisfreie Stadt",216.95,216.364,...,212.336,213.689,215.337,216.483,216.515,216.758,216.864,216.188,216.061,217.186
413,409,DEF04,01004,SH,NaN,NaN,3,"Neumünster, Kreisfreie Stadt",82.155,82.079,...,77.005,77.323,78.393,79.439,79.507,79.411,79.842,80.050,79.700,79.499
414,410,DEF05,01051,SH,NaN,NaN,3,"Dithmarschen, Kreis",133,133.949,...,132.815,132.675,132.801,133.239,133.503,133.328,133.202,133.222,133.610,134.611
415,411,DEF06,01053,SH,NaN,NaN,3,"Herzogtum Lauenburg, Kreis",169.132,171.12,...,188.474,189.873,191.851,194.031,195.568,196.669,197.642,198.585,199.985,202.266
416,412,DEF07,01054,SH,NaN,NaN,3,"Nordfriesland, Kreis",157.706,159.155,...,162.080,162.063,163.082,164.443,165.194,165.484,165.729,166.549,167.353,168.302
417,413,DEF08,01055,SH,NaN,NaN,3,"Ostholstein, Kreis",195.008,195.652,...,197.859,198.095,198.965,200.194,200.698,200.582,200.560,201.013,201.750,202.810
418,414,DEF09,01056,SH,NaN,NaN,3,"Pinneberg, Kreis",279.299,280.845,...,300.021,302.653,305.779,309.062,311.657,313.526,315.247,316.594,317.705,320.228
419,415,DEF0A,01057,SH,NaN,NaN,3,"Plön, Kreis",122.968,123.934,...,126.682,126.754,127.585,128.504,128.772,128.744,128.667,129.019,129.520,130.477
420,416,DEF0B,01058,SH,NaN,NaN,3,"Rendsburg-Eckernförde, Kreis",256.676,259.301,...,268.067,268.352,269.503,271.358,272.679,272.898,273.437,274.431,275.409,277.516
421,417,DEF0C,01059,SH,NaN,NaN,3,"Schleswig-Flensburg, Kreis",186.703,188.797,...,195.023,195.364,196.216,197.762,199.094,199.764,200.591,201.901,203.223,204.919
422,418,DEF0D,01060,SH,NaN,NaN,3,"Segeberg, Kreis",235.924,238.876,...,262.595,264.087,266.238,269.869,273.130,275.028,276.604,277.591,279.203,282.694
423,419,DEF0E,01061,SH,NaN,NaN,3,"Steinburg, Kreis",131.991,132.927,...,130.076,130.118,130.838,131.666,131.744,131.480,131.180,130.859,130.774,131.631
424,420,DEF0F,01062,SH,NaN,NaN,3,"Stormarn, Kreis",207.97,210.249,...,233.793,235.690,238.160,240.713,242.141,242.834,243.676,244.572,245.197,246.690

In [21]:
df_pop = df_pop.iloc[410:425].reset_index(drop=True)

In [22]:
df_pop.head()

,3 Einwohnerinnen und Einwohner,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Population 2022
0,406,DEF01,01001,SH,NaN,NaN,3,"Flensburg, Kreisfreie Stadt",85.506,84.499,...,83.717,84.333,85.318,86.687,87.975,89.011,89.834,90.049,90.523,91.832
1,407,DEF02,01002,SH,NaN,NaN,3,"Kiel, Landeshauptstadt, Kreisfreie Stadt",244.998,243.35,...,240.700,242.341,244.727,246.874,247.692,247.745,247.171,246.697,246.422,246.980
2,408,DEF03,01003,SH,NaN,NaN,3,"Lübeck, Hansestadt, Kreisfreie Stadt",216.95,216.364,...,212.336,213.689,215.337,216.483,216.515,216.758,216.864,216.188,216.061,217.186
3,409,DEF04,01004,SH,NaN,NaN,3,"Neumünster, Kreisfreie Stadt",82.155,82.079,...,77.005,77.323,78.393,79.439,79.507,79.411,79.842,80.050,79.700,79.499
4,410,DEF05,01051,SH,NaN,NaN,3,"Dithmarschen, Kreis",133,133.949,...,132.815,132.675,132.801,133.239,133.503,133.328,133.202,133.222,133.610,134.611

In [23]:
df_pop.tail()

,3 Einwohnerinnen und Einwohner,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,County,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Population 2022
10,416,DEF0B,01058,SH,NaN,NaN,3,"Rendsburg-Eckernförde, Kreis",256.676,259.301,...,268.067,268.352,269.503,271.358,272.679,272.898,273.437,274.431,275.409,277.516
11,417,DEF0C,01059,SH,NaN,NaN,3,"Schleswig-Flensburg, Kreis",186.703,188.797,...,195.023,195.364,196.216,197.762,199.094,199.764,200.591,201.901,203.223,204.919
12,418,DEF0D,01060,SH,NaN,NaN,3,"Segeberg, Kreis",235.924,238.876,...,262.595,264.087,266.238,269.869,273.130,275.028,276.604,277.591,279.203,282.694
13,419,DEF0E,01061,SH,NaN,NaN,3,"Steinburg, Kreis",131.991,132.927,...,130.076,130.118,130.838,131.666,131.744,131.480,131.180,130.859,130.774,131.631
14,420,DEF0F,01062,SH,NaN,NaN,3,"Stormarn, Kreis",207.97,210.249,...,233.793,235.690,238.160,240.713,242.141,242.834,243.676,244.572,245.197,246.690

In [24]:
df_pop = df_pop[["County", "Population 2022"]]

In [25]:
df_pop.head()

                                     County  Population 2022
0               Flensburg, Kreisfreie Stadt           91.832
1  Kiel, Landeshauptstadt, Kreisfreie Stadt          246.980
2      Lübeck, Hansestadt, Kreisfreie Stadt          217.186
3              Neumünster, Kreisfreie Stadt           79.499
4                       Dithmarschen, Kreis          134.611

In [26]:
df_pop["Population 2022"] = df_pop["Population 2022"] * 1000

In [27]:
df_pop.head()

                                     County  Population 2022
0               Flensburg, Kreisfreie Stadt          91832.0
1  Kiel, Landeshauptstadt, Kreisfreie Stadt         246980.0
2      Lübeck, Hansestadt, Kreisfreie Stadt         217186.0
3              Neumünster, Kreisfreie Stadt          79499.0
4                       Dithmarschen, Kreis         134611.0

In [28]:
df_merged = df.merge(df_pop, on='County')

In [29]:
df_merged.head()

,County ID,County,Income 2022,Population 2022
0,01001,"Flensburg, Kreisfreie Stadt",1.994779e+09,91832.0
1,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",6.508703e+09,246980.0
2,01003,"Lübeck, Hansestadt, Kreisfreie Stadt",4.639005e+09,217186.0
3,01004,"Neumünster, Kreisfreie Stadt",1.841140e+09,79499.0
4,01051,"Dithmarschen, Kreis",1.809892e+09,134611.0

In [30]:
df_merged["Income per capita 2022"] = df_merged["Income 2022"] / df_merged["Population 2022"]

In [31]:
df_merged.head()

,County ID,County,Income 2022,Population 2022,Income per capita 2022
0,01001,"Flensburg, Kreisfreie Stadt",1.994779e+09,91832.0,21722.046781
1,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",6.508703e+09,246980.0,26353.158150
2,01003,"Lübeck, Hansestadt, Kreisfreie Stadt",4.639005e+09,217186.0,21359.595002
3,01004,"Neumünster, Kreisfreie Stadt",1.841140e+09,79499.0,23159.285022
4,01051,"Dithmarschen, Kreis",1.809892e+09,134611.0,13445.349934

In [32]:
df_merged.to_csv('counties_income_pop_clean.csv', index=False)